.expenses {
  padding: 1rem;
  background-color: rgba(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

p {
  color: #fff;
  text-align: center;

  font-size: 2rem;

  font-weight: 800;

  background: #000;

  border-radius: 15px;
}
